<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <script src="https://use.fontawesome.com/11478fe343.js"></script>
  </head>
  <body>
  	<div id="application"></div>
  </body>
</html>