@import "bourbon";
@import "neat";
@import "client/scss/vars";

.global-search-container {
  float:right;
  position:relative;
  padding-top:4px;
  padding-bottom:4px;
}

.global-search-form {
  @include transition(150ms ease all);
  background:#ddd;
  border:0;
  color:#333;
  padding:7px 13px 7px 32px;
  border-radius:3px;
  position:relative;
  z-index:1;
  font-size:14px;
}

.global-search-icon {
  position:absolute;
  top:12px;
  left: 10px;
  z-index:99;
  color:#999;
  z-index:99;
}

.global-search-form:focus {
  background-color:darken(#ddd,3%);
}

@include media(screen and max-width 490px) {
  .global-search-container {
    width:100%;
    position:fixed;
    bottom:0;
    background:#fff;
    left:0;
    clear:both;
    padding:10px;
  }
  .global-search-form {
    width:100%;
  }
  .global-search-icon {
    top:15px;
    left:25px;
  }
}
