@import "bourbon";
@import "neat";
@import "client/scss/vars";

.global-search-container {
  float:right;
  position:relative;
  padding-top:4px;
  padding-bottom:4px;
}

.global-search-form {
  @include transition(150ms ease all);
  background-color:#ddd;
  background-repeat:no-repeat;
  background-size:10px 6px;
  border:1px solid $brand-subtle-gray;
  color:#333;
  padding:7px 13px 7px 32px;
  border-radius:3px;
  position:relative;
  z-index:1;
  font-size:14px;
}

.global-search-icon {
  position:absolute;
  top:12px;
  left: 10px;
  z-index:99;
  color:#999;
  z-index:99;
}

.global-search-form:focus {
  background-color:#fff;
}