@import "bourbon";
@import "client/scss/vars";

.main-window {
  @include clearfix();
  position:relative;
  z-index:1;
  padding-top:41px;
}

.search-results-header {
  margin:0;
  padding:20px 0;
  font-size:30px;
  color:#333;
}