@import "bourbon";
@import "neat";

.album-container {
  float:left;
  position:relative;
}

.album-simple-details-container {
  padding:15px;
  background:#fff;
}

.album-art {
  position: relative;
  width: 100%;
  padding-bottom : 100%; /* = width for a 1:1 aspect ratio */
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}

.album-art:hover {
  cursor:pointer;
}

.album-content {
  display:block;
  text-align:center;
  padding:15px;
  z-index:99;
  position:relative;
}

.album-name {
  font-size:18px;
  overflow: hidden;
  width:100%;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.album-name:hover {
  cursor:pointer;
}

.album-artist {
  font-size:15px;
  color:#666;
  overflow: hidden;
  width:100%;
  white-space:nowrap;
  text-overflow: ellipsis;
  display: block;
}

@include media(screen and max-width 800px) {
  .album {
    width:50%;
    padding-bottom:50%;
  }
}

@include media(screen and max-width 560px) {
  .album {
    width:100%;
    padding-bottom:100%;
  }
}