@import "bourbon";

.album {
  position: relative;
  width: 50%;
}

.album:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.album {
  position: absolute;
  width: 100%;
  height: 100%;
}