@import "bourbon";
@import "neat";

.row {
  @include outer-container(960px);
  padding-left:15px;
  padding-right:15px;
}

.row-extended {
  max-width:1440px;
  padding-left:0;
  padding-right:0;
}

.row-tiny {
  max-width:780px;
}